﻿<form class="form-horizontal" method="post" novalidate name="newPhotosForm" role="form" enctype="multipart/form-data" ng-disabled="appStatus.busy || photoManagerStatus.uploading">
    <!-- Radio Buttons -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Import: </label>
        <div class="col-md-6">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="importType" ng-model="importType" value="students">Students
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="importType" ng-model="importType" value="instructors">Instructors
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="importType" ng-model="importType" value="classes">Classes
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="importType" ng-model="importType" value="roster">Roster
                </label>
            </div>
        </div>
    </div>

    <!-- File Input -->
    <div class="form-group">
        <label class="col-sm-2 control-label">File: </label>
        <div class="col-lg-6 col-sm-6 col-12">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file" ng-disabled="photoManagerStatus.uploading">
                        Browse&hellip;
                        <input type="file" id="newPhotos" class="uploadFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" eg-files="photos" has-files="hasFiles">
                    </span>
                </span>
            </div>
        </div>
    </div>

    <!-- upload/clear Buttons -->
    <div class="form-group" ng-show="!photoManagerStatus.uploading">
        <div class="col-sm-offset-2 col-md-12">
            <ul class="list-inline">
                <li ng-repeat="photo in photos"> {{photo.name}}</li>
            </ul>
            <input class="btn btn-primary" name="submit" type="button" eg-upload="upload(photos, importType)" ng-disabled="!hasFiles" value="Upload">
            <input class="btn btn-warning" type="reset" ng-show="hasFiles" value="Clear" />
        </div>
    </div>

    <div class="form-group" ng-show="photoManagerStatus.uploading">
        <div class="col-sm-offset-2 col-md-12">
            <p class="help-block">Please wait. Import in progress...</p>
        </div>
    </div>

</form>