﻿.panel-heading-main {
    background-image: none !important;
    margin-bottom: -10px;
    margin-top: -10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.panel-main {
    margin: auto;
    /*margin-top:-20px;*/
    width: 800px;
}

.panel-body-main {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
}

.panel-body-inner {
    margin-top: -10px;
    margin-left: -10px;
}

.panel-heading, .panel-body {
    border: 1px black;
    padding-left: 10px;
}

html, body, #body, .main-content {
    height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100%;
}

.hoverHand {
    cursor: pointer;
}

.btn {
    /*padding: 0px 5px;*/
}

thead {
    border-bottom: 1px solid #333333;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.input-mini {
    width: 60px;
}

.input-small {
    width: 90px;
}

.input-medium {
    width: 150px;
}

.input-large {
    width: 210px;
}

.input-xlarge {
    width: 270px;
}

.input-xxlarge {
    width: 530px;
}

[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
    clip: rect(1px 10px 1px 1px);
}
