﻿.navbar-nav{
    margin-top:20px !important;
    float:right !important; 

}

.navbar-brand{
    font-size: 50px;
    color: #fdfdfd;
    line-height:normal;
    text-shadow: 0 1px 0 #000000;
    margin-top:-1px;
    padding-top:5px;
}

.navbar-brand >a:hover{
    text-decoration:none;
    color: #D8D8D8;
}
.navbar-header{
    float:left;
}
.navbar .nav > li > a {
    color: #D8D8D8 !important;  
    text-shadow: none;
    margin-right:5px;
    margin-top:-5px;
}
.navbar .nav > li > a:hover {
    background-color:transparent !important;
}

.navbar-fixed-top{
    position:inherit !important;
    background-color:#990000;
    height:50px;
    border-bottom: 1px #990000;
    margin-bottom:20px;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}


body{
    background: url(../../Images/lodyas-light.jpg);
    background-repeat: repeat;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:20px;
   width:100%;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}   